apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: grafana-agent
resources:
- namespace.yaml
helmCharts:
- name: grafana-agent-operator
  namespace: grafana-agent
  repo: https://grafana.github.io/helm-charts
  version: 0.2.1
  releaseName: grafana-agent-operator
  includeCRDs: true
  valuesFile: operator-values.yaml
